# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore

.idea/
bean/__init__.pyc
bean/region.pyc
core/__init__.pyc
core/cnn.pyc
core/img_process.pyc
core/segmentation.pyc
data/.DS_Store
model/
notebook/.ipynb_checkpoints/
process/__init__.pyc
process/processor.pyc
*.pyc
*.DS_Store
